<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fontName</key>
		<string>Cochin-Bold</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, 0}</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Baskerville-Bold</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, 0}</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Verdana-Bold</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, -13}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, -30}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, -25}</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>MarkerFelt-Wide</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, -13}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, -50}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, -20}</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Courier-Bold</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0,-8}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, -40}</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>AmericanTypewriter-Bold</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, -10}</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Helvetica-Bold</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, 0}</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Futura-CondensedExtraBold</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, 10}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, -10}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, 20}</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>TimesNewRomanPS-BoldMT</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, 0}</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>TrebuchetMS-Bold</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, 0}</string>
	</dict>
</array>
</plist>
