<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fontName</key>
		<string>Cochin-Bold</string>
		<key>displayName</key>
		<string>Cochin</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, -5}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, -10}</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Baskerville-Bold</string>
		<key>displayName</key>
		<string>Baskerville</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, 10}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, -10}</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Verdana-Bold</string>
		<key>displayName</key>
		<string>Verdana</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, -13}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, -30}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, -25}</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>MarkerFelt-Wide</string>
		<key>displayName</key>
		<string>Marker Felt</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, -10}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, -13}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, -30}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, -40}</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>AmericanTypewriter-Bold</string>
		<key>displayName</key>
		<string>American Typewriter</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, -5}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, -20}</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Helvetica-Bold</string>
		<key>displayName</key>
		<string>Helvetica</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, -10}</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Futura-CondensedExtraBold</string>
		<key>displayName</key>
		<string>Futura</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, 5}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, 10}</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>TimesNewRomanPS-BoldMT</string>
		<key>displayName</key>
		<string>Times New Roman</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, 0}</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>TrebuchetMS-Bold</string>
		<key>displayName</key>
		<string>Trebuchet MS</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, -10}</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Optima-Bold</string>
		<key>displayName</key>
		<string>Optima</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, 10}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, -5}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, 0}</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>BodoniSvtyTwoITCTT-Bold</string>
		<key>displayName</key>
		<string>Bodoni</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, 10}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, -10}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, -10}</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Copperplate-Bold</string>
		<key>displayName</key>
		<string>Copperplate</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, -10}</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>GillSans-Bold</string>
		<key>displayName</key>
		<string>Gill Sans</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, -10}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, 0}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, -20}</string>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Didot-Bold</string>
		<key>displayName</key>
		<string>Didot</string>
		<key>iPhoneHourFrameOffset</key>
		<string>{0, 5}</string>
		<key>iPhoneMinuteFrameOffset</key>
		<string>{0, 5}</string>
		<key>iPadHourFrameOffset</key>
		<string>{0, 10}</string>
		<key>iPadMinuteFrameOffset</key>
		<string>{0, 0}</string>
	</dict>
</array>
</plist>
