<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fontName</key>
		<string>Cochin-Bold</string>
		<key>iPhoneHourFrameOffsetY</key>
		<integer>0</integer>
		<key>iPhoneMinuteFrameOffsetY</key>
		<integer>0</integer>
		<key>iPadHourFrameOffsetY</key>
		<integer>0</integer>
		<key>iPadMinuteFrameOffsetY</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Baskerville-Bold</string>
		<key>iPhoneHourFrameOffsetY</key>
		<integer>0</integer>
		<key>iPhoneMinuteFrameOffsetY</key>
		<integer>0</integer>
		<key>iPadHourFrameOffsetY</key>
		<integer>0</integer>
		<key>iPadMinuteFrameOffsetY</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Verdana-Bold</string>
		<key>iPhoneHourFrameOffsetY</key>
		<integer>0</integer>
		<key>iPhoneMinuteFrameOffsetY</key>
		<integer>-13</integer>
		<key>iPadHourFrameOffsetY</key>
		<integer>0</integer>
		<key>iPadMinuteFrameOffsetY</key>
		<integer>-25</integer>
	</dict>
	<dict>
		<key>fontName</key>
		<string>MarkerFelt-Wide</string>
		<key>iPhoneHourFrameOffsetY</key>
		<integer>0</integer>
		<key>iPhoneMinuteFrameOffsetY</key>
		<integer>-13</integer>
		<key>iPadHourFrameOffsetY</key>
		<integer>0</integer>
		<key>iPadMinuteFrameOffsetY</key>
		<integer>-30</integer>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Courier-Bold</string>
		<key>iPhoneHourFrameOffsetY</key>
		<integer>0</integer>
		<key>iPhoneMinuteFrameOffsetY</key>
		<integer>-8</integer>
		<key>iPadHourFrameOffsetY</key>
		<integer>0</integer>
		<key>iPadMinuteFrameOffsetY</key>
		<integer>-8</integer>
	</dict>
	<dict>
		<key>fontName</key>
		<string>AmericanTypewriter-Bold</string>
		<key>iPhoneHourFrameOffsetY</key>
		<integer>0</integer>
		<key>iPhoneMinuteFrameOffsetY</key>
		<integer>0</integer>
		<key>iPadHourFrameOffsetY</key>
		<integer>0</integer>
		<key>iPadMinuteFrameOffsetY</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Helvetica-Bold</string>
		<key>iPhoneHourFrameOffsetY</key>
		<integer>0</integer>
		<key>iPhoneMinuteFrameOffsetY</key>
		<integer>0</integer>
		<key>iPadHourFrameOffsetY</key>
		<integer>0</integer>
		<key>iPadMinuteFrameOffsetY</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Futura-CondensedExtraBold</string>
		<key>iPhoneHourFrameOffsetY</key>
		<integer>0</integer>
		<key>iPhoneMinuteFrameOffsetY</key>
		<integer>10</integer>
		<key>iPadHourFrameOffsetY</key>
		<integer>0</integer>
		<key>iPadMinuteFrameOffsetY</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>fontName</key>
		<string>TimesNewRomanPS-BoldMT</string>
		<key>iPhoneHourFrameOffsetY</key>
		<integer>0</integer>
		<key>iPhoneMinuteFrameOffsetY</key>
		<integer>0</integer>
		<key>iPadHourFrameOffsetY</key>
		<integer>0</integer>
		<key>iPadMinuteFrameOffsetY</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fontName</key>
		<string>TrebuchetMS-Bold</string>
		<key>iPhoneHourFrameOffsetY</key>
		<integer>0</integer>
		<key>iPhoneMinuteFrameOffsetY</key>
		<integer>0</integer>
		<key>iPadHourFrameOffsetY</key>
		<integer>0</integer>
		<key>iPadMinuteFrameOffsetY</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
